.InfoProd {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit,
            minmax(350px,
                1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
}

.InfoProd img {
    padding: 20px;
    width: 95%;
}

.InfoProd .Info {
    padding: 50px;
}

.InfoProd .Precio {
    font-size: 24px;
    font-weight: bold;
}

.InfoProd .Label {
    padding-top: 20px;
}